---
---
.aboutContainer {
	width: 100%;
	min-height: 80vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px 0px;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.aboutContent {
	width: 100vh;
	max-width: 65vw;
	display: flex;
	flex-direction: column;
}

.aboutContent p, .aboutContent q {
	font-size: 19px;
	font-family: 'Quattrocento Sans', sans-serif;
	padding: 10px 0px;
	line-height: 1.5em;
}

.aboutContent q {
	align-self: center;
	font-weight: bold;
	color: rgb(24, 105, 137);
}

.aboutMeImage {
	background-color: grey;
	width: 30vw;
	height: 30vw;
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
	background-image: url("{{site.baseurl}}/images/MeStandingWithBackgroundv3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

@media only screen and (max-width: 600px) {
	.aboutContent {
		max-width: 95%;
	}
}