footer {
    background-color: rgb(242, 242, 242); /*rgba(0, 0, 0, 0.05);*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 20em;
    width: 20em;
    padding-top: 5px;
}

footer .links {
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: darkslategrey;
	transition-duration: 0.3s;
}

footer .links:hover {
    color: hotpink;
}

#emailAddress {
    padding-top: 5px;
    letter-spacing: 1px;
    font-weight: bold;
	font-family: "Source Sans Pro", sans-serif;
}

.contactButtons {
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.contactButtons .button {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    background-color: white;
	transition-duration: 0.3s;
}

.contactButtons .button img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: contain;
}

.contactButtons .button:hover {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    background-color: mistyrose;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.5em;
	font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
	letter-spacing: 0.5px;
	padding-bottom: 50px;
}