---
---
/*Hero imagesg*/
.HeroImage {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

#background1 {
	background-image: url("{{site.baseurl}}/images/Seattle_Kerry_Park_Skyline_ReducedQuality.jpg");
}


.HeroImage #nameTitle {
	color: white;
	font-size: 80px;
	letter-spacing: 10px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;

	/* remove when I want to use parallax on the words */
	display: none;
}

.foreground {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
}

#landingForeground {
	background-image: url("{{site.baseurl}}/images/sittingBacksideStraightCroppedBetter.png");
	background-position: 50% 77%;
	background-size: 50vh;
}

#landingWall {
	background-image: url("{{site.baseurl}}/images/redWallLipDarker.png");
	background-size: 35% 5vh;
	background-repeat: repeat-x;
	background-position: bottom;
}

#aboutMeBox {
	background-image: url("{{site.baseurl}}/images/redWallOnlyDarker.png");
	background-size: 80vh;
}

#aboutMeTitle {
	font-family: 'Fredericka the Great', cursive;
	font-size: 70px;
	color: rgb(203, 255, 250);
}

#aboutMeText {
	color: white;
	font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	width: 80%;
}

#aboutMeTextCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#projectsTitle, #presentationsTitle, #blogTitle {
	font-size: 50px;
	letter-spacing: 15px;
	font-family: 'Fredericka the Great', cursive;
}

#projectsTitle {
	color: rgb(76, 97, 133);
}

#presentationsTitle {
	color: rgb(124, 97, 128);
}

#projectsForeground {
	background-image: url("{{site.baseurl}}/images/projectsForegroundDrawn.png");
	background-size: auto 60vh;
	background-position: 10% 105%;
}

#projectsBackground {
	background-size: auto 90vh;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url("{{site.baseurl}}/images/projectsBackgroundDrawn.png");
	background-color: rgb(245, 234, 215);
}

#presentationsBackground {
	background-image: url("{{site.baseurl}}/images/presentationBackground.png");
	background-color: rgb(245, 234, 215);
	background-size: auto 80vh;
	background-repeat: no-repeat;
	background-position: top;
}

#presentationsForeground {
	background-image: url("{{site.baseurl}}/images/presentationForeground.png");
	background-size: auto 50vh;
	background-position: bottom;
}

#bloggingBackground {
	background-image: url("{{site.baseurl}}/images/pexels-photo-965117.jpeg");
}





/* Content CSS */
.contentContainer {
	min-height: 100vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	flex-direction: column;
}

.content {
	width: 120vh;
	max-width: 100%;
	max-width: 100%;
	text-align: center;
	padding: 40px;
}

.showcaseThumbnail {
	width: 120vh;
	max-width: 100%;
	height: 70vh;
	object-fit: cover;
	background-color: grey;
	/*overflow: hidden;*/
}

.showcaseThumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.showcase h2 {
	padding: 20px 0px 10px;
	color: blue;
	font-weight: bold;
	/*letter-spacing: 1px;*/
	word-spacing: 5px;
	text-transform: lowercase;
	font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.showcase p {
	color: black;
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
}

.readMoreButton {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;

    transition: .3s;
}

.readMoreButton:hover {
    opacity: 0.8;
}

#blogContentText {
	color: steelblue;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 35px;
}

.blogShowcaseContainer {
	width: 70%;
	background-color: purple;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-bottom: 50px;
}

.blogThumbnail {
    flex: 50%; /*not sure if this is necessary*/
    width: 50%; /*i'm pretty sure i need one*/
	background-color: lightgrey;
    position: relative;
}

.blogThumbnail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.blogThumbnail img:hover {
    transform: scale(1.2);
}

.blogName {
    opacity: 0;
    transition: .3s ease;
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blogName:hover {
    opacity: 0.7;
}


