<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
    <link href="{{site.baseurl}}/css/StyleReset.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/PageStyles.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/blogstyles.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/archiveStyles.css" rel="stylesheet" type="text/css">
    <!-- favicon  -->
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/favicon.ico"/>
    <!-- fonts -->
    <!-- handwriting for click on pencil -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- header -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    <!-- post text -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <!-- punchy font for landing page-about -->
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">

</head>