<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
    <link href="{{site.baseurl}}/css/StyleReset.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/PageStyles.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/blogstyles.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/archiveStyles.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/highlight.css" rel="stylesheet" type="text/css">

    <!-- Google Verification -->
    <meta name="google-site-verification" content="z8OJ4OGAF5IYRZZSyTqySZqkrsNbO_UBG-YCvXrcsUY" />

    <!-- favicon  -->
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/faviconArrow.png"/>
    <!-- fonts -->
    <!-- handwriting for click on pencil -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- header -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    <!-- post text -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <!-- font for projects and presentations and blog titles -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- chalky font for landing page-about -->
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

</head>